:root {
    /* --primary-bg: #0f171e; */
    --primary-bg: #2c4153;
    /* --secondary-bg: #1a242f; */
    --secondary-bg: #091a2c;
    --main-font: #fff;
    --secondary-font: #79b8f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-font);
}

body {
    background-color: var(--primary-bg);
    color: var(--main-font);
}

.container {
    margin: 0px 40px;
}

